@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #fff8f3;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes gradientRunning {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.bg-gradient-running {
  background: linear-gradient(45deg, #a3e4db, #1c6dd0);
  background-size: 200% 200%;
  animation: gradientRunning 2s linear infinite;
  animation-direction: alternate;
}
